.cartCheckout {
  display: block;
}
.cartCheckout h1 {
  text-align: center;
  font-weight: 100;
}
.empty{
  text-align: center;
}
.cartCheckout ol li {
    margin: 0 0 45px 0;
}
.cartCheckout ol li p{
    text-decoration: underline;
    cursor: pointer;
}
.cartCheckout ol li small {
  margin: 0 10px;
}
.cartCheckout ol li small:last-child {
  margin: 0 10px;
  border: 1px solid rgba(0,0,0,.3);
  padding: 5px 10px;
}
.cartCheckout ol li small:last-child:hover {
  color: white;
  background-color: rgba(228, 7, 7, 0.749);
  cursor: pointer;

}

.cartCheckout ol li input {
  width: 50px;
  border: none;
  border-bottom: 1px solid black;
  font-size: 17px;
  padding: 0;
}

.cartCheckout ol li input:focus {
  outline: none;
  padding: 0;

}

.cartCheckout .totalCalc{
  margin: 0 auto;
  text-align: center;
}

.cartCheckout h6{
    font-size: 23px;
    font-weight: 100;
    margin: 10px 0;
}
@media only screen and (min-width: 800px) {
  .cartCheckout .totalCalc, .empty{
  text-align: left;
  margin-left: 20px;
  }
}