.container {
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 20px;
}
.container form {
  width: 100%;
  margin-bottom: 40px;
  max-width: 1000px;
}
.container form input{
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  /* height: 35px; */
  padding: 10px;
  text-align: center;
  width: inherit;
  font-size: 18px;
  font-weight: 100;
}
.container form input:focus{
  outline: none;
}
.infoGraph{
  max-width: 80%;
  text-align: center;
}
.infoGraph img{
  width: 100%;
  max-width: 500px;
  max-height: 50vh;
  object-fit: contain;
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}