.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  margin: 20px;
}
.container form {
  width: 100%;
  margin-bottom: 40px;
  max-width: 1000px;
}
.container form input{
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  /* height: 35px; */
  padding: 10px;
  text-align: center;
  width: inherit;
  font-size: 18px;
  font-weight: 100;
}
.container form input:focus{
  outline: none;
}
.infoGraph{
  max-width: 80%;
  text-align: center;
}
.infoGraph img{
  width: 100%;
  max-width: 1000px;
  
}