.loginContainer{
    display: flex;
    justify-content: center;
}
.loginContainer form{
    width: 100%;
    max-width: 600px;
}
.loginContainer label{
    display: block;
    margin: 10px 0;
    width: 100%;
}
.loginContainer input{
    margin-bottom: 20px;
    padding: 10px;
    width: 100%;
    border: 1px solid rgba(0,0,0,.3);
    font-size: 17px;
}
.loginContainer button{
    display: block;
    margin: 20px auto;
    width: 100%;
    padding: 10px;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.3);
}
.loginContainer button:hover, .registerLink{
    cursor: pointer;
}