.formContainer{
    display: flex;
    justify-content: center;
}
.formContainer form{
    width: 100%;
    max-width: 600px;
}
.formContainer label{
    display: block;
    margin: 10px 0;
    width: 100%;
}
.formContainer input{
    margin-bottom: 20px;
    padding: 10px;
    width: 100%;
    border: 1px solid rgba(0,0,0,.3);
}
.formContainer button{
    display: block;
    margin: 20px auto;
    width: 100%;
    padding: 10px;
    background-color: white;
    border: 1px solid rgba(0,0,0,.3);
}
.formContainer button:hover{
    cursor: pointer;
}