.registerContainer{
    display: flex;
    justify-content: center;
}
.registerContainer form{
    width: 80%;
    max-width: 600px;
}
.registerContainer label{
    display: block;
    margin: 10px 0;
    width: 100%;
}
.registerContainer input{
    margin-bottom: 20px;
    padding: 10px;
    width: 100%;
    border: 1px solid rgba(0,0,0,.3);
    font-size: 17px;
}
.registerContainer button{
    display: block;
    margin: 20px auto;
    width: 100%;
    padding: 10px;
    background-color: white;
    border: 1px solid rgba(0,0,0,.3);
}
.registerContainer button:hover{
    cursor: pointer;
}
@media only screen and (min-width: 800px) {
    .registerContainer form{
        width: 100%;
        max-width: 600px;
    }
  }